<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2733,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2733,1536}}</string>
                <key>sourceSize</key>
                <string>{2733,1536}</string>
            </dict>
            <key>ButtonAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,3248},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2426,2034},{164,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,165}</string>
            </dict>
            <key>ButtonBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,3241},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonDrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,3241},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonEarn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,3057},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonFullscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2594,2034},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>ButtonGive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,2661},{548,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,194}}</string>
                <key>sourceSize</key>
                <string>{548,194}</string>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,3050},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonLogout.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,3050},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonMinimize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2426,2203},{155,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,162}}</string>
                <key>sourceSize</key>
                <string>{155,162}</string>
            </dict>
            <key>ButtonNoSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2426,1802},{226,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,228}}</string>
                <key>sourceSize</key>
                <string>{226,228}</string>
            </dict>
            <key>ButtonPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,2866},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonPurchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,2859},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2859},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2668},{548,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,187}}</string>
                <key>sourceSize</key>
                <string>{548,187}</string>
            </dict>
            <key>ButtonSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2585,2203},{148,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,117}}</string>
                <key>sourceSize</key>
                <string>{148,117}</string>
            </dict>
            <key>Bux.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2228},{560,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,436}}</string>
                <key>sourceSize</key>
                <string>{560,436}</string>
            </dict>
            <key>GlassEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2228},{637,1115}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{637,1115}}</string>
                <key>sourceSize</key>
                <string>{681,1167}</string>
            </dict>
            <key>GlassFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1542},{637,1115}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{637,1115}}</string>
                <key>sourceSize</key>
                <string>{681,1167}</string>
            </dict>
            <key>Lemonade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,2228},{332,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,435}}</string>
                <key>sourceSize</key>
                <string>{332,435}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{1613,682}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1613,682}}</string>
                <key>sourceSize</key>
                <string>{1613,682}</string>
            </dict>
            <key>Streak.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,1542},{162,1320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,1320}}</string>
                <key>sourceSize</key>
                <string>{162,1320}</string>
            </dict>
            <key>TouchCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2426,1542},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{256,256}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>close-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2656,1802},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{2737,3437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dd2aa43bed6ff7a3278f06a07f91b00:0b5cfbfd5e6c41f305c32afd5cf802a6:94563296262a30b4f0b9cd48ec7e5860$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
