<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2733,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2733,1536}}</string>
                <key>sourceSize</key>
                <string>{2733,1536}</string>
            </dict>
            <key>BlankAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2489,1542},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ButtonAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2739,1530},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2489,1950},{164,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,116},{164,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ButtonBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2062,2146},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonDrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{3453,2010},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonEarn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3453,1833},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonFullscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2930,2096},{142,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{142,142}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ButtonGive.png</key>
            <dict>
                <key>frame</key>
                <string>{{3453,1656},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{3453,1479},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonLogout.png</key>
            <dict>
                <key>frame</key>
                <string>{{3453,1302},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonMinimize.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,2088},{156,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,119},{156,162}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ButtonNoSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2489,1746},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{198,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ButtonPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{3453,1125},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonProduct.png</key>
            <dict>
                <key>frame</key>
                <string>{{2739,948},{576,578}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,578}}</string>
                <key>sourceSize</key>
                <string>{576,578}</string>
            </dict>
            <key>ButtonPurchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{3453,948},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2140},{528,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,173}}</string>
                <key>sourceSize</key>
                <string>{528,173}</string>
            </dict>
            <key>ButtonSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{3361,2187},{130,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,147},{130,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Bux.png</key>
            <dict>
                <key>frame</key>
                <string>{{2719,2096},{207,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,142}}</string>
                <key>sourceSize</key>
                <string>{207,142}</string>
            </dict>
            <key>CloseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3495,2187},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1542},{576,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,594}}</string>
                <key>sourceSize</key>
                <string>{576,594}</string>
            </dict>
            <key>GlassEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{3367,2},{624,942}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,942}}</string>
                <key>sourceSize</key>
                <string>{624,942}</string>
            </dict>
            <key>GlassFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2739,2},{624,942}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,942}}</string>
                <key>sourceSize</key>
                <string>{624,942}</string>
            </dict>
            <key>Lemonade.png</key>
            <dict>
                <key>frame</key>
                <string>{{3236,2054},{121,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,187}}</string>
                <key>sourceSize</key>
                <string>{121,187}</string>
            </dict>
            <key>LemonadeDark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2594,2120},{121,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,187}}</string>
                <key>sourceSize</key>
                <string>{121,187}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{1524,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1524,780}}</string>
                <key>sourceSize</key>
                <string>{1524,780}</string>
            </dict>
            <key>LogoMini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2693,1707},{523,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,125}}</string>
                <key>sourceSize</key>
                <string>{523,125}</string>
            </dict>
            <key>MaskCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2951,1836},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{248,248}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>ShadowOval.png</key>
            <dict>
                <key>frame</key>
                <string>{{2719,2242},{216,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,44}}</string>
                <key>sourceSize</key>
                <string>{216,44}</string>
            </dict>
            <key>Streak.png</key>
            <dict>
                <key>frame</key>
                <string>{{3319,948},{130,1102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1102}}</string>
                <key>sourceSize</key>
                <string>{130,1102}</string>
            </dict>
            <key>TouchCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2691,1836},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{256,256}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>medium_bux_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2110,1542},{375,343}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{375,343}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>small_bux_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2110,1889},{375,253}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,90},{375,253}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{3993,2324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4be1c9415a81b537ef01dc820ce4f5f:641bc62a3419497f9663800a0ee04c30:94563296262a30b4f0b9cd48ec7e5860$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
