.DS_Store
/.id
/0.*
/build.log
/current
/java/*/bin
/java/*/gen
/*/proj.android/assets/
/*/proj.android/bin/
/*/proj.android/gen/
/*/proj.android/obj/
/*/proj.android/libs/armeabi
/*/proj.android/libs/armeabi-v7a
/*/proj.android/libs/x86
/*/proj.android/libs/mips
/cocos2d/x/lib*
/node_modules
xcuserdata
project.xcworkspace
/templates/cocos2d/TwoScene/Server/node_modules
