[submodule "src/jansson"]
	path = src/jansson
	url = git@github.com:vedi/jansson.git
[submodule "src/soomla/cocos2dx-store"]
	path = src/soomla/cocos2dx-store
	url = git@github.com:soomla/cocos2dx-store.git
