<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1367,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1367,768}}</string>
                <key>sourceSize</key>
                <string>{1367,768}</string>
            </dict>
            <key>BlankAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2447,659},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ButtonAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2551,639},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2819,639},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,57},{82,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ButtonBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2780,548},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonDrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2512,487},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonEarn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2784,457},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonFullscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,477},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{72,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ButtonGive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2516,396},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,366},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonLogout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,275},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonMinimize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2905,639},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{78,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ButtonNoSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2051,605},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{100,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ButtonPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,184},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonProduct.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,477},{288,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,289}}</string>
                <key>sourceSize</key>
                <string>{288,289}</string>
            </dict>
            <key>ButtonPurchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,93},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2840,2},{264,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,87}}</string>
                <key>sourceSize</key>
                <string>{264,87}</string>
            </dict>
            <key>ButtonSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2051,709},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,74},{66,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Bux.png</key>
            <dict>
                <key>frame</key>
                <string>{{2074,396},{104,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,71}}</string>
                <key>sourceSize</key>
                <string>{104,71}</string>
            </dict>
            <key>CloseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2182,396},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2155,471},{288,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,297}}</string>
                <key>sourceSize</key>
                <string>{288,297}</string>
            </dict>
            <key>GlassEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{312,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,471}}</string>
                <key>sourceSize</key>
                <string>{312,471}</string>
            </dict>
            <key>GlassFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{312,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,471}}</string>
                <key>sourceSize</key>
                <string>{312,471}</string>
            </dict>
            <key>Lemonade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2447,561},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>LemonadeDark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2447,463},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2074,2},{762,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,390}}</string>
                <key>sourceSize</key>
                <string>{762,390}</string>
            </dict>
            <key>LogoMini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,396},{262,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,63}}</string>
                <key>sourceSize</key>
                <string>{262,63}</string>
            </dict>
            <key>MaskCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,477},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,124}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>ShadowOval.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,734},{108,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,22}}</string>
                <key>sourceSize</key>
                <string>{108,22}</string>
            </dict>
            <key>Streak.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{65,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,551}}</string>
                <key>sourceSize</key>
                <string>{65,551}</string>
            </dict>
            <key>TouchCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,477},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{128,128}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>medium_bux_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,557},{189,173}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{189,173}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>small_bux_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,609},{189,127}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{189,127}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{3106,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4be1c9415a81b537ef01dc820ce4f5f:641bc62a3419497f9663800a0ee04c30:94563296262a30b4f0b9cd48ec7e5860$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
