<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.soomla.store">

    <application>

        <!-- Add this activity to your AndroidManifest.xml -->
        <activity
                android:name="SoomlaStoreActivity" />

    </application>
</manifest>
