<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{683,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,384}}</string>
                <key>sourceSize</key>
                <string>{683,384}</string>
            </dict>
            <key>ButtonAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,337},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,344},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>ButtonBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,337},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonDrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,337},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonEarn.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,330},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonFullscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,344},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>ButtonGive.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,291},{137,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,49}}</string>
                <key>sourceSize</key>
                <string>{137,49}</string>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,286},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonLogout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,286},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonMinimize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,63},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>ButtonNoSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>ButtonPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,286},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonPurchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,279},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,228},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,177},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ButtonSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,108},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>Bux.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,177},{147,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>GlassEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{160,280}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,280}}</string>
                <key>sourceSize</key>
                <string>{170,292}</string>
            </dict>
            <key>GlassFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{160,280}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,280}}</string>
                <key>sourceSize</key>
                <string>{170,292}</string>
            </dict>
            <key>Lemonade.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,177},{83,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,109}}</string>
                <key>sourceSize</key>
                <string>{83,109}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{403,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,171}}</string>
                <key>sourceSize</key>
                <string>{403,171}</string>
            </dict>
            <key>close-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,177},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>touch-circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,290},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{1489,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b46a64d7833776ba327f10f5f99af9e6:f75414864c33aab1f5434f7472dc820d:94563296262a30b4f0b9cd48ec7e5860$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
