<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TouchCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{256,256}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>close-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{328,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:968464051c5f781b5e6272730e95ed84:4042041bdce54fbc8a866c5e309a7ba0:94563296262a30b4f0b9cd48ec7e5860$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
