SoomlaAndroidExample/gen
SoomlaAndroidExample/.idea/workspace.xml
SoomlaAndroidExample/out
SoomlaAndroidExample/bin

SoomlaAndroidStore/.idea/
SoomlaAndroidStore/out/
SoomlaAndroidStore/gen/
SoomlaAndroidStore/bin/
SoomlaAndroidStore/UML2/


SoomlaAndroidStoreTest/.idea/
SoomlaAndroidStoreTest/out/
SoomlaAndroidStoreTest/gen/

docs/*

.DS_Store

SoomlaAndroidStore/SoomlaAndroidStore.iml

SoomlaAndroidExample/res/.DS_Store
