<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1367,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1367,768}}</string>
                <key>sourceSize</key>
                <string>{1367,768}</string>
            </dict>
            <key>ButtonAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2617,664},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,120},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>ButtonBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2617,566},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonDrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2339,664},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonEarn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2339,566},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonFullscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,292},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>ButtonGive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,347},{274,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,97}}</string>
                <key>sourceSize</key>
                <string>{274,97}</string>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2061,644},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonLogout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,644},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonMinimize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,207},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>ButtonNoSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,2},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>ButtonPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,667},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonPurchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,569},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,546},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,448},{274,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,94}}</string>
                <key>sourceSize</key>
                <string>{274,94}</string>
            </dict>
            <key>ButtonSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,367},{74,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,59}}</string>
                <key>sourceSize</key>
                <string>{74,59}</string>
            </dict>
            <key>Bux.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,347},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,218}}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>GlassEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2509,2},{321,560}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{321,560}}</string>
                <key>sourceSize</key>
                <string>{341,584}</string>
            </dict>
            <key>GlassFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2184,2},{321,560}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{321,560}}</string>
                <key>sourceSize</key>
                <string>{341,584}</string>
            </dict>
            <key>Lemonade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,347},{164,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,218}}</string>
                <key>sourceSize</key>
                <string>{166,218}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{807,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,341}}</string>
                <key>sourceSize</key>
                <string>{807,341}</string>
            </dict>
            <key>close-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2909,292},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>touch-circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,569},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{128,128}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{2949,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e15887d5c0b797c21d1e9ae1d8570a0:e44ac15b5476576e76d4c57c10fd0c7d:94563296262a30b4f0b9cd48ec7e5860$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
